version: "3.1"
services:
  install:
    image: node:14.17.0
    volumes:
      - .:/data
    command: bash -c "cd /data && npm i" 
  build:
    image: node:14.17.0
    volumes:
      - .:/data
    command: bash -c "cd /data && npm run prepare"
  test:
    image: node:14.17.0
    volumes:
      - .:/data
    command: bash -c "cd /data && npm run test"    